*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background: #080808;
    color: #fff;
}
#header{
    width: 100%;
    height: 120vh;
    background-size: cover;
    background-position: center;
}
#header{
    padding:30px 0;
    color:bisque;
    box-shadow: #000000;
}
#header:hover{
    transform: translateY(-20px);
  box-shadow: 0px 15px 40px #0cc8f3;
}
.container{
    padding: 10px 10px;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.logo{
    shape-margin: 0cm;
    shape-outside: border-box;
    width: 140px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #a5cec5;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}
/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&display=swap');
.line-1 {
    margin-top: 20%;
    font-size: 30px;
    border-right: 2px solid rgba(255, 255, 255, .75);
    font-size: 180%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);
    color: #fff;
}
span1{
    color: #00acb5;
}
/* Animation */
.anim-typewriter {
    animation: typewriter 10s steps(44) infinite normal both,
               blinkTextCursor 500ms steps(44) infinite normal;
}
@keyframes typewriter {
    0% {
        width: 0;
    }
    45%, 55% {
        width: 24em;
    }
    100% {
        width: 0;
    }
}
@keyframes blinkTextCursor {
    from {
        border-right-color: rgba(255, 255, 255, .75);
    }
    to {
        border-right-color: transparent;
    }
}
/*-----About section------*/
#about{
    padding:80px 0;
    color:bisque;
    box-shadow: #000000;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
#about:hover{
    transform: translateY(-20px);
  box-shadow: 0px 15px 40px #04a1e9;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1{
    flex-basis: 35%;
}
.about-col-1 img{
    width: 100%;
    border-radius: 15px;
}
#neon {
  background-color: #000000;
  box-shadow: inset 5px 5px 20px #000000, inset 5px 5px 20px #000000;
}
.container1 {
    display: flex;
    justify-content: center;
    align-items: center;
}
.neon-card {
  width: 310px;
  height: 430px;
  background-color: #fff;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 10px;
  margin: 20px;
  box-shadow: 5px 10px 100px #00c8ff, 0px 5px 20px #d0ff00;
  transition: all ease 0.5s;
  
}
#AboutText{
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.neon-card:hover {
  transform: translateY(-20px);
  box-shadow: 0px 15px 40px #08e4f4;
}

.about-col-2{
    flex-basis: 60%;

}
.sub-title{
    font-size: 60px;
    font-weight: 600;
    color:#fff;
}
.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background-color: #13f7e4;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.tab-links.active-link::after{
    width:50%
}
.tab-contains ul li{
    list-style: none;
    margin: 10px 0;
}
.tab-contains ul li span{
    color:#0be0e7;
    font-size: 14px;
}
.tab-contains{
    display: none;
}
.tab-contains.active-tab{
    display: block;
}
/* Sevices */
#services {
    padding: 30px 0;
}
#services{
    padding:80px 0;
    color:bisque;
    box-shadow: #000000;
}
#services:hover{
    transform: translateY(-20px);
  box-shadow: 0px 15px 40px #483ce6;
}

.services-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 40px;
    margin-top: 50px;
}

.services-list div {
    background: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s,transform 0.5s;
}

.services-list div i {
    font-size: 50px;
    margin-bottom: 30px;
}

.services-list div h2 {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}

.services-list div a {
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}
.services-list div:hover{
    background: #483ce6;
    transform: translate(-10px);
}
/*-----portfolio---*/
.portfolio {
    padding: 50px 0;
  }
  .work-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 40px;
    margin-top: 50px;
  }
  .work {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
  }
  .work img {
    width: 100%;
    border-radius: 10px;
    display: inline-block;
    transition: transform 0.5s;
  }
  .layer {
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.6), #ff004f);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
  }
  .layer h3 {
    font-weight: 500;
    margin-bottom: 20px;
  }
  .layer a {
    margin-top: 20px;
    color: #ff004f;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
  }
  .work:hover img {
    transform: scale(1.1);
  }
  .work:hover .layer {
    height: 100%;
  }
  .work-hidden{
    display: none;
  }
  .btn {
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #ff004f;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    transition: background 0.5s;
  }
  .btn:hover {
    background: #ff004f;
  }
  .btn1 .btn::after {
    content: "";
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #ff004f;
    left: 0;
    top: 0;
    border-radius: 10px;
  }
  #portfolio {
    padding: 80px 0;
    color: bisque;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  #portfolio:hover {
    transform: translateY(-20px);
    box-shadow: 0px 15px 40px #ff004f;
  }
  .hidden {
    display: none;
  }
/*-------Contact--------*/
.contact-left{
    flex-basis: 35%;
}
.contact-right{
    flex-basis: 60%;
}
#contact-right{
    padding:80px 0;
    color:bisque;
    box-shadow: #000000;
}

.contact-left p{
    margin-top: 30px;
}
.contact-left p i{
    color: #f7b716;
    margin-right: 15px;
    font-size: 25px;
}
.social-icons{
    margin-top: 30px;
}
.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;
}
.social-icons a:hover{
    color: #f2b706;
    transform: translate(-5px);
}
.btn.btn2{
    display: inline-block;
    background: #000000;
    font-family: 'Poppins',sans-serif;
    font-size: 18px;
}
.btn.btn2:hover{
    background: #ff004f;
}
.contact-right form{
    width: 100%;
}
form input,form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color:#fff;
    font-size: 18px;
    border-radius: 6px;
}
form btn2{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}
.copyright{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #262626;
    font-weight: 300;
    margin-top: 20px;
}
.copyright i{
    color: bisque;
}
/*-------------------css for small screens------------------*/
nav .fa-solid {
    display: none;
}

@media only screen and (max-width: 600px) {
    #header {
        background-image: url(./images/20220604_124506_Original.jpg);
    }   
    .header-text {
        margin-top: 100%;
        font-size: 16px;
    }
    .header-text h1 {
        font-size: 30px;
    }
    nav .fa-solid {
        display: block;
        font-size: 25px;
    }
    nav ul {
        background: #ff004f;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: 0.5s;
    }
    nav ul li {
        display: block;
        margin: 25px;   
    }
    nav ul .fa-solid {
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }
    .sub-title{
        font-size: 40px;
    }
    .about-col-1, .about-col-2{
        flex-basis: 100%;
    }
    .about-col-1{
        margin-bottom: 30px;
    }
    .about-col-2{
        font-size: 14px;
    }
    .tab-links{
        font-size: 16px;
        margin-right: 20px;
    }
    .contact-left, .contact-right{
        flex-basis: 100%;
    }
    .copyright{
        font-size: 14px;
    }
}